<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated programme -->
      <package
            uri="http://no/tdt4250/assignment/studyProgramme"
            class="programme.ProgrammePackage"
            genModel="model/programme.genmodel"/>
   </extension>

</plugin>
